$color: red;
%margin {
  margin: 20px;
}


body {
  background-color: black;
  padding: 5px;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.span {

}

.square {
  width: 150px;
  height: 150px;
  background-color: silver;
  @extend %margin

}

.rectangle {
  width: 250px;
  height: 150px;
  background-color: yellow;
  @extend %margin


}

.circle {
  width: 150px;
  height: 150px;
  background-color: red;
  border-radius: 50%;
  @extend %margin

}

.oval {
  height: 150px;
  width: 250px;
  background-color: yellow;
  border-radius: 50%;
  @extend %margin

}

.triangle-down {
  width: 0px;
  height: 0px;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 200px solid green;
  @extend %margin

}

.triangle-up {
  width: 0px;
  height: 0px;
  border-bottom: 200px solid red;
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
  @extend %margin

}

.triangle-left {
  width: 0px;
  height: 0px;
  border-top: 100px solid transparent;
  border-right: 200px solid red;
  border-bottom: 100px solid transparent;
  @extend %margin

}

.triangle-right {
  width: 0px;
  height: 0px;
  border-top: 100px solid transparent;
  border-left: 200px solid red;
  border-bottom: 100px solid transparent;
  @extend %margin

}


